[submodule "lib/quick-event"]
	path = lib/quick-event
	url = git://github.com/iheartradio/quick-event.git
[submodule "gh-pages"]
	path = gh-pages
	url = git://github.com/iheartradio/quick.io.git
	branch = gh-pages
