Source: quickio
Maintainer: Andrew Stone <andrew@clovar.com>
Section: web
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 9), check (>= 0.9.8), libc6-dev (>= 2.13), libglib2.0-dev (>= 2.32), libssl-dev (>= 1.0.0)

Package: quickio
Architecture: i386 amd64
Depends: adduser, ${misc:Depends}, ${shlibs:Depends}
Description: Quick WebSocket server
 QuickIO is an incredibly fast, incredibly lightweight WebSocket server.

Package: quickio-dev
Architecture: i386 amd64
Depends: adduser, ${misc:Depends}, ${shlibs:Depends}, quickio (= ${binary:Version})
Description: Quick WebSocket server
 QuickIO is an incredibly fast, incredibly lightweight WebSocket server.
