#!/usr/bin/make -f

# Uncomment to enable verbose mode.
#export DH_VERBOSE=1

include /usr/share/hardening-includes/hardening.make

export CFLAGS = $(shell dpkg-buildflags --get CFLAGS)
export LDFLAGS = $(shell dpkg-buildflags --get LDFLAGS)
export CFLAGS += $(HARDENING_CFLAGS)
export LDFLAGS += $(HARDENING_LDFLAGS)

clean:
	dh_testdir
	dh_testroot
	$(MAKE) clean
	dh_clean

build:
	dh_testdir
	$(MAKE) release

install: build
	dh_testdir
	dh_testroot
	dh_installdirs
	dh_install
	dh_installman
	dh_shlibdeps

	cd debian/quickio/etc/security/limits.d && mv quickio-limits.conf quickio.conf
	cd debian/quickio/etc/sysctl.d && mv quickio-sysctl.conf quickio.conf
	cd debian/quickio/etc/logrotate.d && mv quickio-logrotate quickio
	cp LICENSE debian/quickio/usr/share/doc/quickio/copyright

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installinit -u'start 50 2 3 4 5 . stop 50 0 1 6 .'
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch
build-arch: build
build-indep: build

.PHONY: build clean binary-indep binary-arch binary install
