#!/usr/bin/make -f

#export DH_VERBOSE=1

DESTDIR = $(CURDIR)/debian/tmp
export CC = gcc

%:
	dh $@

override_dh_auto_test:
	dh_auto_test -- -j8

override_dh_auto_install:
	$(MAKE) clean
	dh_auto_install -- \
		-j8 \
		INSTALL_ROOT=$(DESTDIR)
